<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shinleeholdings.coverstar">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->
    <queries>
        <!--간편결제-->
        <package android:name="finance.chai.app" /> <!--차이페이-->
        <package android:name="com.nhnent.payapp" /> <!--페이코-->
        <package android:name="com.lottemembers.android" /> <!--LPAY-->
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> <!--SSGPAY-->
        <package android:name="com.inicis.kpay" /> <!--KPAY-->
        <package android:name="com.tmoney.tmpay" /> <!--티머니페이-->
        <package android:name="viva.republica.toss" /> <!--토스페이-->
        <package android:name="com.samsung.android.spay" /> <!--삼성페이-->
        <package android:name="com.kakao.talk" /> <!--카카오페이-->
        <package android:name="com.nhn.android.search" /> <!--네이버-->
        <package android:name="com.mysmilepay.app" /> <!--스마일페이-->
        <!--카드-->
        <package android:name="kvp.jjy.MispAndroid320" /> <!--ISP페이북-->
        <package android:name="com.kbcard.cxh.appcard" /> <!--KBPay-->
        <package android:name="com.kbstar.liivbank" /> <!--liivbank-->
        <package android:name="com.kbstar.reboot" /> <!--newliiv-->
        <package android:name="com.samsung.android.spaylite" /> <!--삼성페이-->
        <package android:name="com.nhnent.payapp" /> <!--페이코-->
        <package android:name="com.lge.lgpay" /> <!--엘지페이-->
        <package android:name="com.hanaskcard.paycla" /> <!--하나-->
        <package android:name="kr.co.hanamembers.hmscustomer" /> <!--하나멤버스-->
        <package android:name="com.hanaskcard.rocomo.potal" /> <!--하나공인인증-->
        <package android:name="com.citibank.cardapp" /> <!--씨티-->
        <package android:name="kr.co.citibank.citimobile" /> <!--씨티모바일-->
        <package android:name="com.lcacApp" /> <!--롯데-->
        <package android:name="kr.co.samsungcard.mpocket" /><!--삼성-->
        <package android:name="com.shcard.smartpay" /> <!--신한-->
        <package android:name="com.shinhancard.smartshinhan" /> <!--신한(ARS/일반/smart)-->
        <package android:name="com.hyundaicard.appcard" /> <!--현대-->
        <package android:name="nh.smart.nhallonepay" /> <!--농협-->
        <package android:name="kr.co.citibank.citimobile" /> <!--씨티-->
        <package android:name="com.wooricard.smartapp" /> <!--우리WON카드-->
        <package android:name="com.wooribank.smart.npib" /> <!--우리WON뱅킹-->
        <!--백신-->
        <package android:name="com.TouchEn.mVaccine.webs" /> <!--TouchEn-->
        <package android:name="com.ahnlab.v3mobileplus" /> <!--V3-->
        <package android:name="kr.co.shiftworks.vguardweb" /> <!--vguard-->
        <!--신용카드 공인인증-->
        <package android:name="com.hanaskcard.rocomo.potal" /> <!--하나-->
        <package android:name="com.lumensoft.touchenappfree" /> <!--현대-->
        <!--계좌이체-->
        <package android:name="com.kftc.bankpay.android" /> <!--뱅크페이-->
        <package android:name="kr.co.kfcc.mobilebank" /> <!--MG 새마을금고-->
        <package android:name="com.kbstar.liivbank" /> <!--뱅크페이-->
        <package android:name="com.nh.cashcardapp" /> <!--뱅크페이-->
        <package android:name="com.knb.psb" /> <!--BNK경남은행-->
        <package android:name="com.lguplus.paynow" /> <!--페이나우-->
        <package android:name="com.kbankwith.smartbank" /> <!--케이뱅크-->
        <!--해외결제-->
        <package android:name="com.eg.android.AlipayGphone" /> <!--페이나우-->
        <!--기타-->
        <package android:name="com.sktelecom.tauth" /> <!--PASS-->
        <package android:name="com.lguplus.smartotp" /> <!--PASS-->
        <package android:name="com.kt.ktauth" /> <!--PASS-->
        <package android:name="kr.danal.app.damoum" /> <!--다날 다모음-->
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".profile.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.NonLeakingWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.RuleDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.InputMessageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".ui.ContestPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".chatting.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".CoverStarSchemeActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".payment.PaymentWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
            android:name=".profile.PhoneCertActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".profile.UserPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".profile.RulesAgreeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".profile.ProfileSettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".profile.InputInviteCodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".profile.SettingCompleteActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->

        <service
            android:name=".service.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>